<div class="footer">
<p class="info">
{pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
{/loop}
{/pc}
<br />
Powered by <strong>版权所有 (C) 沧州市时珍塑料制品有限公司 All Rights Reserved.<a href="http://www.miitbeian.gov.cn/" target="_blank"> 冀ICP备15029163号</a> </strong> 
</p>
</div>
<script type="text/javascript">
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'{IMG_PATH}msg_img/loading.gif');
	});
})
</script>
</body>
</html>
